@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5e5f68;
    font-family: 'Roboto', sans-serif;
}

section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 12px 17px -3px rgba(0, 0, 0, 0.1), 0 6px 8px -2px rgba(0, 0, 0, 0.05);
}

.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}

.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}

.message__area {
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

textarea {
    width: 100%;
    border-left-color: #8F8BE8;
    border-bottom: none;
    border-right: none;
    border-width: 4px;
    border-top: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

textarea:hover {

    box-shadow: 0px -6px 15px 0px rgba(148, 149, 173, 0.75);
    -webkit-box-shadow: 0px -6px 15px 0px rgba(140, 141, 159, 0.75);
    -moz-box-shadow: 0px -6px 15px 0px rgba(126, 127, 151, 0.75);
}

.message {
    padding: 8px 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming {
    background: #8F8BE8;
    color: #fff;
}

.incoming:hover {
    background: #9d99f7;
}

.outgoing {
    background: #e9eafd;
    color: #3c3c43;
    margin-left: auto;
}

.outgoing:hover {
    background: #d4d6fa;
}

.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #3414cb94;
    font-size: 14px;
}

.message h6 {
    position: relative;
    color: #3333336b;

}


#notify {
    display: flex;
    flex-direction: row;
}

#notify #typingText {
    position: relative;
    color: #74409e
}

#notify button {
    position: relative;
    top: 60px;
    left: 85%;
    font-size: 16px;
    width: max-content;
    padding: 3px 4px;
    background-color: #9d99f7;
    color: white;
    border: none;
}

#notify button:hover {
    background-color: #8c86f2;
}

#notify #typingText {
    visibility: hidden;
    position: relative;
    bottom: 40px;
    padding: 3px;

}

@keyframes flick {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 0.5;
    }
}



@media screen and (max-width: 900px) {
    * {
        padding: 0;
        margin: 0;
    }

    body {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        background-size: 300% 300%;
        background-image: linear-gradient(-45deg,
                rgba(59, 173, 227, 1) 0%,
                rgba(87, 111, 230, 1) 25%,
                rgba(152, 68, 183, 1) 51%,
                rgba(255, 53, 127, 1) 100%);
        animation: AnimateBG 20s ease infinite;
    }

    @keyframes AnimateBG {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }


    section.chat__section {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #fff;
        box-shadow: 0 12px 17px -3px rgba(0, 0, 0, 0.1), 0 6px 8px -2px rgba(0, 0, 0, 0.05);
    }

    .brand {
        padding: 20px;
        background: #f1f1f1;
        display: flex;
        align-items: center;
    }

    .brand h1 {
        text-transform: uppercase;
        font-size: 20px;
        color: #444;
        margin-left: 10px;
    }

    .message__area {
        height: 75%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        padding-top: 20px;
    }

    textarea {
        width: 100%;
        position: fixed;
        border-left-color: #8F8BE8;
        border-bottom: none;
        border-right: none;
        border-width: 4px;
        border-top: none;
        bottom: 0px;
        font-size: 16px;
        outline: none;
        background: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    textarea:hover {

        box-shadow: 0px -6px 15px 0px rgba(148, 149, 173, 0.75);
        -webkit-box-shadow: 0px -6px 15px 0px rgba(140, 141, 159, 0.75);
        -moz-box-shadow: 0px -6px 15px 0px rgba(126, 127, 151, 0.75);
    }

    .message {
        padding: 8px 20px;
        border-radius: 4px;
        margin-bottom: 40px;
        max-width: 300px;
        position: relative;
    }


}